---
const API_KEY = import.meta.env.GOOGLE_SHEETS_API_KEY;
const SHEET_ID = import.meta.env.SPREADSHEET_ID;

const RANGE = "A2:C"; 

const url = `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${RANGE}?key=${API_KEY}`;

interface Evento {
  fecha: string;
  ciudad: string;
  local: string;
}

let eventos: Evento[] = [];

try {
  const response = await fetch(url);
  const data = await response.json();
  
  if (data.values) {
    eventos = data.values.map((fila: string[]) => ({
      fecha: fila[0] || "",  
      ciudad: fila[1] || "",  
      local: fila[2] || ""    
    }));
  }
} catch (error) {
  console.error("Hubo un error de red al coger las fechas:", error);
}
---
<section id="fechas" class="w-full relative py-24 px-8 md:px-16 overflow-hidden">
  <div class="max-w-5xl mx-auto flex flex-col gap-12">
    
<div class="relative w-full text-center font-hanson text-[12vw] md:text-[8vw] uppercase leading-none select-none">
      
      <div class="text-transparent" style="-webkit-text-stroke: 1px rgba(255,255,255,0.2);">
        FECHAS
      </div>
      
      <div class="texto-relleno absolute top-0 left-0 w-full h-full text-white text-center">
        FECHAS
      </div>

    </div>

    <div class="contenedor-fechas flex flex-col mt-4 md:mt-8">
      {eventos.map((evento) => (
        <div class="fila-fecha group grid grid-cols-3 items-center py-3 border-b border-white/20 transition-colors hover:border-white/50 md:py-6">
          
          <span class="font-hanson text-white text-sm md:text-xl text-left tracking-wider">
            {evento.fecha}
          </span>
          
          <span class="text-white/70 text-xs md:text-lg uppercase tracking-widest text-center">
            {evento.ciudad}
          </span>
          
          <span class="text-white/60 text-[10px] sm:text-xs md:text-base uppercase tracking-widest text-right">
            {evento.local}
          </span>
          
        </div>
      ))}
    </div>

  </div>
</section>


<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener("DOMContentLoaded", () => {
    
    //animación titulo fechas
    gsap.fromTo(".texto-relleno", 
      {
        
        clipPath: "polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%)"
      },
      {
        
        clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)",
        ease: "none", 
        scrollTrigger: {
          trigger: "#fechas", 
          start: "top 65%",   
          end: "top 15%",   
          scrub: 1.5,
          markers: false        
        }
      }
    );
       const fechasTl = gsap.timeline({
      scrollTrigger: {
        trigger: ".contenedor-fechas",
        start: "top 85%",    
        end: "bottom 85%",   
        scrub: 0.8,          
        markers: false        
      }
    });

    // Añadimos la animación a la línea de tiempo
    fechasTl.from(".fila-fecha", {
      y: 40,               
      opacity: 0,          
      ease: "power2.out",  
      stagger: 0.5         
    });

  });
</script>